* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
}

body {
  height: 100vh;
}

.container {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.current-weather {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;
}

#query-form {
  display: grid;
  padding: 15px;
}

#query-form button {
  width: 100px;
  background: blue;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 10px;
  margin: 10px;
}

#query-form input {
  padding: 5px;
  width: 25%;
  margin: 10px;
}



img {
  width: 100px;
}

.temp-area {
  display: grid;
  justify-items: center;
  gap: 10px;
}

.other-data {
  display: grid;
  gap: 5px;
}

.location {
  color: blue;
  font-size: 1.75rem;
  font-weight: bold;
}

.temp {
  font-size: 3rem;
  font-weight:bold;
}

.conditions {
  font-size: 2rem;
  font-weight: bold;
}

.update-time {
  font-weight: bold;
}

